{% extends 'weather/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Weather in your city</h1>
            <form method="post">
                {% csrf_token %}
                <label for="city">City</label>
                {{form.name}}
                <input type="submit" value="Search" class="mt-2 btn btn-danger" name="send">
            </form>
        </div>
        <div class="col-4 offset-1">
            <h1>Information</h1>
            {% for city in info %}
                {% include 'weather/includes/city.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}