{% extends 'weather/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Weather in your city</h1>
            <form method="post">
                {% csrf_token %}
                <label for="city">City</label>
                {{form.name}}
                <input type="submit" value="Search" class="mt-2 btn btn-danger" name="send">
            </form>
        </div>
        <div class="col-4 offset-1">
            <h1>Information</h1>
            {% for city in info %}
            <div class="alert alert-success" role="alert">
                <b>City:</b> {{city.city}}<br>
                <b>Temperature:</b> {{city.temp}}<sup>o</sup><br>
                <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="Icon" class="img-thumbnail">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}